<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>회원 가입</title>
    <!-- css -->
    <link rel="stylesheet" href="/css/pages/member/passwordEdit.css"/>
</head>

<body>
    <main class="main-content" layout:fragment="content">
    <div class="password-edit-container">
        <h1 class="password-title">
            비밀번호 수정
        </h1>

        <div class="line"></div>

        <form class="password-edit-form" th:action="@{/members/{id}/passwordEdit(id=${currentMember.memberId})}"
              th:object="${passwordForm}" method="post">
            <div class="cu-pwd">
                <label for="currentPassword">현재 비밀번호</label>
                <input type="password" id="currentPassword" th:field="*{currentPassword}" th:errorclass="field-error-input"
                       placeholder="현재 비밀번호" required />
                <div class="field-error" th:errors="*{currentPassword}"></div>
            </div>

            <div class="ch-pwd">
                <label for="newPassword">새 비밀번호</label>
                <input type="password" id="newPassword" th:field="*{newPassword}" th:errorclass="field-error-input"
                       placeholder="새 비밀번호" required />
                <div class="field-error" th:errors="*{newPassword}"></div>

                <div class="margin-div"></div>

                <label for="confirmPassword">비밀번호 확인</label>
                <input type="password" id="confirmPassword" th:field="*{confirmPassword}" th:errorclass="field-error-input"
                       placeholder="비밀번호 확인" required />
                <div class="field-error" th:errors="*{confirmPassword}"></div>
            </div>

            <!-- 글로벌 오류 메시지 --> <!-- 글로벌 오류가 있는지 확인 -->
            <div class="global-error" th:if="${#fields.hasGlobalErrors()}">
                                    <!-- 글로벌 에러 목록을 가져와 출력 -->
                <p class="field-error" th:each="err : ${#fields.globalErrors()}" th:text="${err}">글로벌 오류 메시지</p>
            </div>

            <button class="password-btn"  type="submit">
                비밀번호 변경
            </button>
        </form>
    </div>
    </main>
</body>
</html>