main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f3f5f7;
}

/* 회원 수정 컨테이너 */
.edit-container {
    background-color: #fff;
    width: 500px;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* 헤더(타이틀) */
.delete-header {
    border-bottom:solid 0.13rem #2c3e50;
    padding:0 0 2rem 0;
    margin: 0 0 2rem 0;

    /* grid */
    display:grid;
    grid-template-columns:1fr 3fr 1fr;
}

.edit-container .delete-title {
    text-align: center;
    margin:0;

    /* grid */
    grid-column:2;

}

.delete-form {
    /* grid */
    grid-column:3;
    justify-self:end;
}

.delete-btn {
    all:unset;
    font-size:10pt;
    padding:7px 10px;

    position:relative;
    top:2rem;
    cursor:pointer;
    background-color:#db9494;
    color:#ffffff;
    border:2px solid #816363;
    font-weight:bold;
    border-radius: 4px;
    transition: 0.1s;
}

.delete-btn:hover {
    background-color:#d55c5c;
    color:#d4d3d3;
}

/* 비밀번호 변경하기 */
.change-password-div {
    margin: 0 0 20px 0;
}

.change-password {
    all:unset;
    font-size:11pt;
    padding:10px 20px;
    margin: 0 0 1rem 0;

    background-color:#a49f9f;
    color:#ffffff;
    cursor:pointer;
    font-weight:bold;
    border-radius: 4px;
    transition: 0.1s;
}

.change-password:hover {
    background-color:#616060;
}


/* 입력폼 스타일 */
.edit-form {
    display: flex;
    flex-direction: column;
    gap: 1rem; /* 각 필드 간 간격 */
}

.member-attribute {
    display:block;
    font-weight: 600;
    font-size:12pt;
    margin-bottom: 0.6rem;
}

.member-detail {
    box-sizing:border-box;
    padding: 0.6rem;
    width:100%;
    border: 1px solid #ccc;
    color:#727272;
    background-color:#e3e0e0;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.edit-form label {
    display:block;
    font-weight: 600;
    font-size:12pt;
    margin-bottom: 0.6rem;
}

.edit-form input {
    box-sizing:border-box;
    padding: 0.6rem;
    width:100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1rem;
    transition: border-color 0.3s;
}

.edit-form input:focus {
    outline: none;
    border-color: #36353d;
}

/* 가입 버튼 */
.edit-form button {
    padding: 0.8rem;
    font-size: 1rem;
    color: #fff;
    background-color: #eb7171;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.15s;
}

.edit-form button:hover {
    background-color: #de5353;
}

/* 검증 에러 문구 */
.field-error {
    padding-left:0.5rem;
    margin: 0.3rem 0 0 0;
    font-size:11pt;
    color:#d45555;
}