<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <!-- css -->
    <link rel="stylesheet" href="/css/pages/post/updatePost.css"/>
    <link rel="stylesheet" href="/css/ckeditor/ckeditor.css"/>

    <!-- JS -->
    <!-- ckeditor5 -->
    <script src="/js/ckeditor5-build-classic-39.0.1/ckeditor5-build-classic/ckeditor.js"></script>
</head>

<body>
    <main class="layout-main" layout:fragment="content">
        <div class="container">
            <h1 class="board-title">글 수정</h1>

            <form th:action="@{/posts/{id}/edit(id=${post.postId})}" th:object="${post}" method="post">
                <input th:type="hidden" th:field="*{postId}"/>
                <input th:type="hidden" th:field="*{memberId}"/>
                <input th:type="hidden" th:field="*{email}"/>
                <!-- 제목 -->
                <div class="post-info">
                    <div class="post-title">
                        <span class="post-category">[카테고리]</span> <!-- 아직 없음 -->
                        <span th:text="*{title}">게시글 제목</span>
                        <span class='post-viewCount' th:text="'['+*{viewCount}+']'">조회수</span>
                    </div>
                    <hr class="divider">
                    <div class="post-meta">
                        <span class="post-author" th:text="'작성자: ' + *{nickname}">작성자</span>
                        <span class="post-date" th:text="'작성일: ' + ${#temporals.format(post.createdAt, 'yyyy-MM-dd HH:mm:ss')}">작성일 2024-06-17 15:30</span>
                    </div>
                </div>

                <!-- 내용 -->
                <div class="form-group form-content">
                    <textarea th:class="post-content" id="content" rows="10" th:field="*{content}" placeholder="내용을 입력하세요" required></textarea>
                </div>

                <!-- 버튼 -->
                <div class="button-container">
                    <button type="submit" class="submit-button">수정</button>
                    <a th:href="@{/posts/{id}(id=${post.postId})}" class="cancel-button">취소</a>
                </div>
            </form>
            <script>
                ClassicEditor
                    .create(document.querySelector('#content'), {

                        language: "ko",

                        ckfinder: {
                            uploadUrl: "/image/upload",
                            withCredentials: true
                        }
                    })
                    .catch(error => {
                        console.error(error);
                    });
            </script>
        </div>
    </main>
</body>
</html>