<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <header th:fragment="header">
        <!-- CSS -->
        <link rel="stylesheet" href="/css/fragments/header.css">

        <!-- header content -->
        <div class="header-left">
            <nav>
                <ul>
                    <!-- 게시글 목록 링크 -->
                    <li><a th:href="@{/posts}">게시글 목록</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-right">
            <!-- 로그인 상태에 따른 표시 -->
<!--            <span th:if="${session.loginMemberId != null}">-->
<!--                <span th:class="header-right-username" th:text="${session.loginMemberId.username}">사용자명</span>-->
<!--                <form th:action="@{/logout}" method="post">-->
<!--                    <button th:class="logout-btn" type="submit">-->
<!--                        로그아웃-->
<!--                    </button>-->
<!--                </form>-->
<!--            </span>-->
<!--            <span th:unless="${session.loginMemberId != null}">-->
<!--                <a th:href="@{/login}">로그인</a>-->
<!--            </span>-->

            <span sec:authorize="isAuthenticated()">
                <span th:class="header-right-username" sec:authentication="principal.nickname">사용자명</span>
                <form th:action="@{/logout}" method="post">
                    <button th:class="logout-btn" type="submit">
                        로그아웃
                    </button>
                </form>
            </span>
            <span sec:authorize="isAnonymous()">
                <a th:href="@{/login}">로그인</a>
            </span>
        </div>
    </header>
</body>
</html>