/* 전체 페이지 스타일 */
body {
    font-family: Arial, sans-serif;
    margin:0;
    padding:0 2rem;
    background-color: #f5f5f5;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    font-size: 24px;
}

/* 검색창 */
div.search-container {
    margin: 5rem 0 1rem 0;
}

#searchForm {
    display:flex;
}

.search-container select,
.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
    width: 200px;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.search-container input[type="text"]:focus,
.search-container select:focus {
    border-color: #555;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    outline: none;
}

.search-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.search-container button:hover {
    background-color: #555;
}

.search-container button:active {
    transform: scale(0.95);
}

select.page-size-container {
    margin-left:auto;
    margin-right:0;
}

/* 테이블 스타일 */
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 0.4rem 12px;
    text-align: center;
    border: 1px solid #ddd;
}

td:nth-child(2) {
    text-align:left;
}

th {
    background-color: #333;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

tr td:nth-child(1) {
    width: 6rem;
}

tr td:nth-child(2) {
    width: 14rem;
}

tr td:nth-child(2) > a {
    text-decoration:none;
    color: #000000;
}

tr td:nth-child(2) > a:visited {
    text-decoration:none;
    color: #aeaeae;
}

tr td:nth-child(3) {
    width:5rem;
    font-size: 10pt;
    padding:0;
}

tr td:nth-child(4) {
    width: 11rem;
    font-size: 11pt;
}

tr td:nth-child(5) {
    width: 13rem;
}


/* 페이징 네비게이션 바 */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin: 1.5rem 0 5rem 0;
}

.pagination a {
    color: #333;
    text-decoration: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s, color 0.3s;
}

.pagination a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.pagination a.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
    font-weight: bold;
}

/* 메시지 스타일 */
.no-results {
    text-align: center;
    font-size: 16px;
    color: #777;
    margin-top: 20px;
}